.git
.gradle
.idea
build
out
*.iml
*.iws
*.ipr
.env
.env.*
application-local.*
application-secret.*
src/main/resources/application-local.*
src/main/resources/application-secret.*
src/main/resources/application-*-secret.*
