spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sikcourse?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: 본인_MySQL_계정
    password: 본인_MySQL_비밀번호
    driver-class-name: com.mysql.cj.jdbc.Driver

tour-api:
  service-key: 본인_TourAPI_디코딩_인증키

jwt:
  secret: 로컬에서만_사용할_긴_랜덤_문자열
